<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>게시글 상세</title>
</head>
<body>

<h1 th:text="${board.title}"></h1>

<p>
    작성자:
    <span th:text="${board.user.username}"></span>
</p>

<hr>

<div>
    <p th:text="${board.content}"></p>
</div>

<hr>

<a href="/board">목록으로</a>

<form th:action="@{/board/delete/{id}(id=${board.id})}" method="post" style="display:inline;">
    <input type="hidden" th:name="${_csrf.parameterName}"
           th:value="${_csrf.token}"/>
    <button type="submit">삭제</button>
</form>

</body>
</html>
