<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Onboarding</title>
</head>
<body>

<h2>애니메이션 취향 선택</h2>

<form action="/onboarding/save" method="post">
    <input type="hidden"
           th:name="${_csrf.parameterName}"
           th:value="${_csrf.token}" />


    <div th:each="anime : ${animeList}" style="margin-bottom:20px; border:1px solid #ccc; padding:10px;">

        <!-- 이미지 -->
        <img th:src="${anime.imageUrl}" width="150">

        <!-- 제목 -->
        <p th:text="${anime.title}"></p>

        <!-- malId hidden -->
        <input type="hidden" name="malId" th:value="${anime.malId}">

        <!-- 봤는지 -->
        <label>
            <input type="checkbox" name="watched" th:value="${anime.malId}">
            봤어요
        </label>

        <!-- 평점 -->
        <select name="score">
            <option value="0">선택 안함</option>
            <option
                    th:each="i : ${#numbers.sequence(1,10)}"
                    th:value="${i}"
                    th:text="${i}">
            </option>
        </select>

    </div>

    <button type="submit">저장</button>

</form>

</body>
</html>